html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: #000;
    font-family: monospace;
    color: #bbb;
    font-size: 16px;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #ccc;
        color: #000;
    }
}

a[href] {
    color: #06f;
}
a[href]:hover {
    color: #08f;    
}
a[href]:visited {
    color: #60f;
}
a[href]:visited:hover {
    color: #80f;
}
